<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.oplus_lcd">
    <overlay
        android:isStatic="true"
        android:priority="1"
        android:requiredSystemPropertyName="vendor.fingerprint.sensor_type"
        android:requiredSystemPropertyValue="physical"
        android:targetPackage="android" />
</manifest>
